.breadcrumbs {
	position: relative;
	z-index: 1;
	display: inline-flex;
	padding: rem(15) 0;

	.projects-header & {
		padding-left: rem(20);
		padding-right: rem(30);
		background: rgba(0, 0, 0, 0.7);
	}

	// .breadcrumbs__list

	&__list {
		display: flex;
		overflow: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;
		-webkit-overflow-scrolling: touch;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	// .breadcrumbs__li

	&__li {
		margin: rem(0) rem(29) rem(0) rem(0);
		display: flex;
		align-items: center;
		white-space: nowrap;
	}

	// .breadcrumbs__link

	&__link {
		color: #000;
		white-space: nowrap;
		font-weight: 500;
		font-size: 20px;
		color: #1f60b8;

		.projects-header & {
			font-weight: 600;
			color: #fff;
		}

		// .breadcrumbs__link_back-svg

		&_back-svg {
			width: 24px;
			height: 12px;
			margin-right: rem(11);

			use {
				fill: #040404;

				.projects-header & {
					fill: #fff;
				}
			}
		}
	}

	// .breadcrumbs__item

	&__item {
		white-space: nowrap;
		font-weight: 500;
		font-size: 20px;
		color: #1f60b8;

		.projects-header & {
			font-weight: 600;
			color: #fff;
		}
	}
}