.pagging {
	display: flex;
	width: 100%;
	max-width: 670px;

	@media (max-width:$md) {
		justify-content: space-between;
	}

	@media (max-width:$sm) {
		.projects-main & {
			padding: rem(0) rem(20);
		}
	}

	// .pagging__arrow

	&__arrow {
		flex: 0 0 74px;
		height: 54px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease 0s;
		border: 1px solid #cacaca;

		&:first-child {
			margin: 0px 16px 0px 0px;

			@media (max-width: $md) {
				margin: 0px 9px 0px 0px;
			}
		}

		&:last-child {
			margin: 0px 0px 0px 16px;

			@media (max-width: $md) {
				margin: 0px 0px 0px 9px;
			}
		}

		svg {
			width: 23px;
			height: 14px;

			use {
				fill: rgba(0, 0, 0, 0.55242);
				transition: all 0.3s ease 0s;
			}
		}

		&:hover {
			background-color: #14325a;
			border-color: #14325a;

			use {
				fill: #fff;
			}
		}

		@media (max-width:$md) {
			height: 74px;
			flex: 0 0 37px;
		}
	}

	// .pagging__list

	&__list {
		display: flex;
		flex: 1 1 auto;

		@media (max-width:$md) {
			justify-content: center;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
		}
	}

	// .pagging__li

	&__li {
		flex: 0 0 74px;
		height: 54px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width:$md) {
			height: 74px;
			flex: 0 0 37px;
		}

		&:hover {}
	}

	// .pagging__li-dots

	&__li-dots {
		flex: 0 0 51px;
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width:$md) {
			height: 74px;
			flex: 0 0 20px;
		}
	}

	// .pagging__item

	&__item {
		border: solid 1px #CACACA;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #000;
		font-size: 18px;
		line-height: 22px;
		transition: all 0.3s ease 0s;

		&._active,
		&:hover {
			color: #fff;
			border-color: #14325a;
			background-color: #14325a;
		}
	}

	// .pagging__item-dots

	&__item-dots {
		color: #000;
		font-size: 18px;
		line-height: 22px;
	}
}