.mp-frist-block {
   height: var(--frist-block-height);
   position: relative;
}

.mp-fb-bg-slider {
   pointer-events: none;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   // .mp-fb-bg-slider__wrapper

   &__wrapper {}

   // .mp-fb-bg-slider__slide

   &__slide {}
}

.mp-fb-slider-nav {
   background: rgba(5, 7, 12, 0.5);
   display: flex;
   height: 93px;
   z-index: 10;
   position: absolute;
   left: 158px;
   bottom: 184px;

   @media (max-width:$xpc) {
      bottom: 118px;
   }

   @media (max-width:$pc) {
      left: 52px;
   }

   @media (max-width:$xl) {
      position: relative;
      left: auto;
      bottom: auto;
   }

   .swiper-button-prev,
   .swiper-button-next {
      svg use {
         fill: #fff;
      }
   }
}

.mp-fb-main-slider {
   height: var(--frist-block-height);
   margin-right: calc((var(--mp-right-padding) - var(--right-padding)) + 20px);
   margin-left: rem(320);
   padding-bottom: rem(136);
   gap: 2px;

   @media (max-width:$xpc) {
      padding-bottom: rem(70);
   }

   @media (max-width:$pc) {
      margin-left: rem(214);
   }

   @media (max-width:$xl) {
      display: grid;
      grid-template-rows: 1fr auto;
      justify-items: start;
      align-items: end;
      gap: 4px;
      margin-left: rem(83);
   }

   @media (max-width:$lg) {
      margin: 0 rem(30);
      padding-bottom: rem(36);
   }

   @media (max-width:$sm) {
      margin: 0 rem(20);

   }

   // .mp-fb-main-slider__wrapper

   &__wrapper {
      align-items: flex-end;
   }

   // .mp-fb-main-slider__slide

   &__slide {
      display: grid;
      gap: 2px;
      justify-items: start;
   }

   // .mp-fb-main-slider__title

   &__title {
      color: #fff;
      font-weight: 500;
      font-size: 50px;
      margin: 9px 0;

      @media (max-width:$xl) {
         font-size: 40px;
      }

      @media (max-width:$lg) {
         font-size: 30px;
      }

      span {
         background: #000;
         padding: 16px 0;
         line-height: 150%;
      }

      .swiper-slide-active & {}
   }

   // .mp-fb-main-slider__link

   &__link {
      font-weight: 600;
      font-size: 20px;
      color: #fff;
      background: #14325a;
      display: inline-flex;
      align-items: center;
      gap: 17px;
      padding: rem(13) rem(20);
   }


}